<div class="bg-red-50 border-l-4 border-red-500 p-4 mb-8">
  <p class="text-red-700">
    Disclaimer: This website is for entertainment purposes only. I do not
    encourage or promote gambling. Please gamble responsibly and be aware of
    your local gambling laws and regulations. If you or someone you know has a
    gambling problem, please seek help.
  </p>
</div>
