---
import Disclaimer from "@/components/Disclaimer.astro";
import Layout from "../layouts/Layout.astro";
import BettingChart from "@/components/BettingChart";
---

<Layout>
  <div class="max-w-7xl mx-auto px-4 py-8 flex-grow">
    <Disclaimer />
    <BettingChart showForm={true} client:load />
  </div>
</Layout>

<style></style>
